.bike-page {
  display: grid;
  grid-template-areas:
    ". bake-header ."
    ". bike-content ."
    ". bike-text-container .";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 2fr 3fr;

  max-width: 1440px;


  background: #000000;
  border-radius: 75px;
}

.bike-header {
  grid-area: bake-header;
  margin: auto;
  max-width: 1189px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 80px;
  text-align: center;

  color: #ffffff;
}

.bike-header span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  padding: 15px 25px;

  text-align: center;

  color: #ffffff;

  border: 1px solid  #ffffff;
  border-radius: 50%;
}

.bike-content-item {
  width: 308px;
  height: 58px;

  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 130%;

  color: #ffffff;
}

.bike-content-item-num {
  width: 418px;
  height: 422px;
  align-self: center;

  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 360px;
  line-height: 422px;

  text-align: center;

  background: linear-gradient(313.87deg, #8dc1ff 44.77%, #d0e5ff 78.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bike-content {
  grid-area: bike-content;
  display: flex;
}

.bike-text-container {
  grid-area: bike-text-container;
  display: flex;
  gap: 30px;
  width: 1234px;
  justify-content: center;
  margin: auto;
}

.bike-content-item {
  transform: translate(281px, 84px);
  display: block;
}

.bike-content-item-num:first-child {
  transform: translate(239px, -10px);
}

.bike-content-item-num{
  transform: translate(-59px, 102px); 
}

.bike-content-item-details {
  transform: translate(-153px, 364px);
}

.bike-item-details {
  width: 164px;
  height: 164px;

  transform: translate(-155px, 362px);
}

.bike-text-header {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;

  color: #ffffff;
}

.bike-text-content {
  font-family: "Nunito-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;

  color: #ffffff;
}

.bike-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 377px;
  height: 69px;

  gap: 20px;
}
