.city-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  max-width: 1440px;
}

.city-header {
  margin-top: 130px;
  display: flex;
  gap: 30px;
}

.city-text {
  width: 579px;
  height: 100px;
  font-family: 'Nunito-Light';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  transform: translateX(306px);

  color: #000000; 
}

.city-header-heading {
  width: 100%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  
  color: #000000;
}

.city-images {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.city-img-ellipse-1 {
  transform: translateY(-102px) translateX(-326px);
}

.city-img-el {
  width: 178.98px;
  height: 80.99px;

  background: #000000;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

.city-images-ellipse-1 {
  transform: translate(-339px, -113px);
}

.city-img-first {
  transform: translate(590px, 200px);
}

.city-img-second {
  transform: translate(138px, -8px);
  z-index: -1;
}

.city-img-third {
  transform: translate(-54px, 140px);
  z-index: -1;
}

.city-img-forth {
  transform: translate(-390px, 147px);
}

.city-img-fifth {
  transform: translateX(-590px);
  z-index: -1;
}
