.red {
  background: #ab2424;
}

.green {
  background: #75a217;
}

.blue {
  background: #56aceb;
}

.orange {
  background: #d05d0a;
}

.adv-back-header h3 {
  width: 359.25px;
  height: 70px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}

.adv-back-header span {
  width: 481.72px;
  height: 75px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  color: #000000;
}

.adv-back-header {
  margin: auto;
  padding-top: 40px;
  width: 1085.9px;
  height: 75px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.route-adv-back {
  width: 1190px;
  height: 474px;
  margin: auto;
  transform: translateY(-190px);

  background: linear-gradient(289.04deg, #8dc1ff 41.26%, #d0e5ff 85.53%);
  border-radius: 55px;
}

.adv-card {
  height: 462px;
  width: 266px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  overflow: hidden;
  background: #ffffff;
  border-radius: 125px;
}

.adv-route-cards {
  grid-area: cards;
  display: flex;
  justify-content: center;

  transform: translateY(50px);
}

.adv-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.adv-card-header {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.adv-card-text {
  width: 189px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;

  color: #000000;
}

.adv-card-img {
  justify-self: center;
  align-self: center;
}

.route-page {
  width: 1440px;
  height: 2510px;

  background: #000000;
  border-radius: 75px;
}

.route-page-header {
  margin-bottom: 90px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 80px;
  text-align: center;

  color: #ffffff;
}

.route-page-cards {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 30px;
}


.route-page-quote {
  display: flex;
  align-items: center;
}

.quote-text {
  margin-left: 125px;
  width: 600px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote-content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}

.quote {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  transform: translate(105px, -120px); 
  width: 23px;
  height: 10px;

  color: #ffffff;

  border: 1px solid #000000;
}

.quote-img {
  transform: translateX(-23px);
}

.caption-n {
  display: flex;
  flex-direction: column;
}

.caption-n:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  color: #ffffff;
}

.caption-n:nth-child(2)    {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;

  color: #ffffff;
}

.route-page-header span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 41px;
  padding: 14px 37px;

  text-align: center;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.route-page-card {
  height: 537px;
  width: 377px;

  overflow: hidden;

  background: #ffffff;
  border-radius: 40px;
}

.route-page-card img {
  transform: scaleX(1.1);
}

.route-page-all button {
  width: 307px;
  height: 55px;
  background: #ffffff;
  box-shadow: 9px 7px 15px 6px rgba(194, 194, 194, 0.18);
  border-radius: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  text-align: center;

  color: #000000;

  cursor: pointer 
}

.card-circle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

.card-place {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-place span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  color: #757475;
}

.route-card-header {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;

  letter-spacing: 0.005em;

  color: #000000;
}

.route-card-location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.route-card-content {
  height: 208px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.route-card-info {
  display: flex;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  color: #757475;
}
