@import url("./bike-page.css");
@import url("./city-page.css");
@import url("./head-page.css");
@import url("./question-page.css");
@import url("./route-page.css");

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/static/Nunito-Medium.ttf");
}

@font-face {
  font-family: "Nunito-Light";
  src: url("../fonts/Nunito/static/Nunito-Light.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}

html{
  font-size: 18px;
}

main {
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 1440px;
  background: #ffffff;
  font-family: "Nunito";
  
}

footer {
  height: 415px;
  width: 1440px;
  background: #000000;
}

.nav-list {
  height: 290px;
  padding: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-smedia-around {
  height: 55px;
  width: 130px;

  background: linear-gradient(286.4deg, #8dc1ff 30.45%, #d4e8ff 71.02%);
  border-radius: 70px;
}

.nav-smedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-smedia-around {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-smedia-around a {
  text-decoration: none;
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;

  text-align: center;

  color: #000000;
}

.nav-smedia-svg {
  display: flex;
  justify-content: space-around;
  cursor: pointer
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-links a {
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;

  color: #e5e5e5;
}

.nav-docs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.nav-docs a {
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;

  color: #757475;
}

.line {
  border: 1px solid #757475;
  width: 1191px;
  margin: auto;
}

.nav-email a {
  font-family: "Nunito-Light";
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;

  color: #e5e5e5;
}

.rights span {
  font-family: "Nunito-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;

  color: #757475;
}

.rights {
  padding-top: 40px;

  width: 1191px;
  margin: auto;
}


/* 
  .main-header {
    max-width: 375px;
  }

  .header-logo a {
    height: 55px;
    width: 130px;

    background: linear-gradient(286.4deg, #8dc1ff 30.45%, #d4e8ff 71.02%);

    box-shadow: 9px 7px 15px 6px rgba(194, 194, 194, 0.18);
    border-radius: 70px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    text-align: center;

    color: #000000;
  }

  .header-info {
    width: 345px;
    height: 126px;
  }

  .header-info h3 {
    width: 345px;
    height: 126px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 110%;

    letter-spacing: 0.01em;

    color: #000000;
  }

  .header-info span {
    width: 345px;
    height: 116px;
    left: 15px;
    top: 645px;

    font-family: "  ";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;

    color: #000000;
  }

  .header-image {
    display: none;
    background: url("../img/cycle-mb.png");
  }

  .header-nav {
    display: none;
  }

  .header-curt {
    display: none;
  }

  .header-info button {
    width: 345px;
    height: 55px;
    left: 15px;
    top: 786px;

    background: #000000;

    box-shadow: 9px 7px 15px 6px rgba(194, 194, 194, 0.18);
    border-radius: 50px;
  }

  .header-info button span {
    width: 128px;
    height: 19px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #ffffff;
  }  */

